$main-font: 'Coda', cursive;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c0c0c0;
}
h1 {
  font-family: $main-font;
  color: #fff;
  font-size: 3rem;
  padding: 2rem;
  text-shadow: 0 0 4px #000;
}
.grid {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.player-info {
  display: flex;
  font-family: $main-font;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  text-shadow: 0 0 4px #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  width: 23rem;
}

h3,
.span {
  font-family: $main-font;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  text-shadow: 0 0 4px #000;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 400px;
  height: 250px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}
h5,
button {
  font-family: $main-font;
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem;
}
button {
  padding: 0.5rem;
  background-color: #fff;
  border: 5px solid black;
}
button:hover {
  background-color: rgb(20, 236, 13);
  color: #fff;
  border: 5px solid #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}
